@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100:#FFFFFF;
  --primary-200:#e0e0e0;
  --primary-300:#9b9b9b;
  --accent-100:#7F7F7F;
  --accent-200:#ffffff;
  --text-100:#FFFFFF;
  --text-200:#777777;
  --bg-100:#000000;
  --bg-200:#161616;
  --bg-300:#2c2c2c;
}

body {
  color: var(--primary-100);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--bg-100)
    )
    var(--bg-100);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
